/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
    font-family: 'IM Fell English SC', serif;
}

p, li {
  font-size: 18px;
  list-style-type: none;
  text-align: center;
}

.fortune-cookie-saying-wrapper {
    border: 2px solid lightgray;
    margin: 20px 100px 20px 100px;
}

.btn-1, .btn-2 {
  margin: 10px;
  padding: 10px;
  font-family: 'IM Fell English SC', serif;
  font-size: 10px;
}

.btn-1:hover, .btn-2:hover {
  border: rgb(90, 127, 68) 3px solid;
}

.text {
  font-size: 14px;
}

